<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="D:\WebDevelopment\MEAN\dhaba\public\css\style.css">
</head>

<body>
    <h1>
        Admin Panel
    </h1>
    <form action="/logout" method="post">
        <div class="form-box form-box-height">
            <a href="/productadd">Product Add</a>
            <a href="/Productedit" >Productedit</a>
            <a href="/product" >product</a>
            <a href="/productmodyfy"> modyfy</a>
            <a href="/"> create Reception Id</a>
        </div>
        <input type="submit" value="Logout" />
    </form>
</body>

</html>