<head>
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer>
        <div class="container">
        <div class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Logout</a></li>
                <li><a href="">Bill Generate</a></li>
            </ul>
        </div>
    </div>
    </footer>
</body>