<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    {{>navbar}}
    <div class="form-container mt sign-in-form">
        <div class="form-box sign-in-box">
            <h2> Login Type</h2>
            <form action="/login" method="post">
                <button class="submit-btn hover"><a  style="color: #fff; text-decoration: none;" href="/adminlogin">Admin</a></button>
                <button  class="submit-btn hover"><a style="color: #fff; text-decoration: none;" href="/Receptionlogin">Worker</a></button>
            </form>
        </div>
    </div>



    <script>
        let textInputs = document.querySelectorAll("input");
        textInputs.forEach(textInput =>{
            textInput.addEventListener("focus",()=>{
                let parent = textInput.parentNode;
                parent.classList.add("active");
            });

            textInput.addEventListener("blur",()=>{
                let parent = textInput.parentNode;
                parent.classList.remove("active");
            });
        })


        let passwordInput = document.querySelector(".password-input")
        let eyeBtn = document.querySelector(".eye-btn")

        eyeBtn.addEventListener("click",()=>{
            if(passwordInput.type === "password"){
                passwordInput.type = "text";
                eyeBtn.innerHTML = "<i class='uil uil-eye'></i>";
            }
            else{
                passwordInput.type = "password";
                eyeBtn.innerHTML = "<i class='uil uil-eye-slash'></i>";
            }
        })
    </script>
</body>
</html>
</body>
</html>