<head>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Logout</a></li>
                <li><a href="/Receptionist/BillGenerate">Bill Generate</a></li>
            </ul>
        </div>
    </div>
</body>