<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhabe ka Saman Update kare</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    {{>navbar}}
    <div class="form-container mt sign-in-form">
        <div class="form-box sign-in-box">
            <h2>Dishe Update</h2>
            <form action="/Productmodyfy" method="post">
            <div class="field">
                    <i class="uil uil-restaurant"></i>
                    <input type="text" name="product_id" placeholder="Enter Id" required>
                </div>
                <div class="field">
                    <i class="uil uil-restaurant"></i>
                    <input type="text" name="product_name" placeholder="Enter Dishe"required>
                </div>
                <div class="field">
                    <i class="uil uil-restaurant"></i>
                    <input type="text" name="product_plate" placeholder="Enter Plate"required>
                </div>
                <div class="field">
                    <i class="uil uil-rupee-sign"></i>
                    <input class="password-input" name="product_price" type="text" placeholder="Enter Rs." required>
                </div>
                <div class="forgot-link">
                </div>
                <input type="submit" class="submit-btn hover" value="Update">
            </form>
        </div>
    </div>



    <script>
        let textInputs = document.querySelectorAll("input");
        textInputs.forEach(textInput =>{
            textInput.addEventListener("focus",()=>{
                let parent = textInput.parentNode;
                parent.classList.add("active");
            });

            textInput.addEventListener("blur",()=>{
                let parent = textInput.parentNode;
                parent.classList.remove("active");
            });
        })    
    </script>
</body>
</html>
</body>
</html>